<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Active-Noise-Canceller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CC7E5E71CC2B488004BB077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC7E5FB1CC2B488004BB077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC7E6061CC2B488004BB077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
